<%
path = params[:path].to_s
name = params[:name].to_s
privurl = "/seminars/#{path}/#{name}"

# if there is someone logged in, redirect to same seminar in the private view
redirect privurl if logged_in?

# get the seminar
s = BlackStack::Content::Seminar.where(:path=>path, :name=>name).first

# rendered to convert markdown to html
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)

# load preferences
publ = s.public
desc = s.description
%>

<section class="row-fluid">
    <div class="span9">
        <!-- edit seminar -->
        <section class="row-fluid">
            <div class="span12 box seminar">
                <h1 class='name'><%=BlackStack::Content::Seminar.merge(name.to_s).encode_html%></h1>
                <pre class='content'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(desc.to_s).encode_html%></pre>
                <span class='path'><b>author:</b> <%=s.user.name.to_s.encode_html%></span>
                <span class='path'><b>path:</b> <a href='/seminars/<%=path%>'><%=path%></a></span>
            </div>
        </section>

        <!-- draw section -->
        <%
        i = 0
        a = s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }
        if a.size > 0
            a.each { |section|
                i += 1
                %>
                <section class="row-fluid" id='<%=i.to_s%>' name='<%=i.to_s%>'>
                    <div class="span12 box section">
                        <h1 class='name'><%=BlackStack::Content::Seminar.merge(section.name.to_s).encode_html%></h1>
                        <pre class='description'><b>Abstract</b><br/><%=BlackStack::Content::Seminar.merge(section.description.to_s).encode_html%></pre>

                        <%
                        if i==1 && !section.premium # public pages show the first section, if it is not premium
                        %>
                        <span class='badge badge-<%=section.premium ? 'green' : 'blue'%>'><%=section.premium ? 'premium' : 'free'%></span> 
                        <div class='content'>
                            <%=markdown.render(BlackStack::Content::Seminar.merge(section.content.to_s))%>
                        </div>
                        <div class='done'>
                            <%
                            if a.size > 1 # link to the 2nd section
                            %>
                            <center><h1><a href='<%=privurl%>#2'>Unlock Next Section!</a></h1></center>
                            <%
                            else
                            %>
                            <center><h1><a href='<%=privurl%>'>Unlock Next Section!</a></h1></center>
                            <%
                            end
                            %>
                        </div>
                        <%
                        else # if i==1 # public pages show the first section
                        %>
                        <div class='content'>
                            <center><h1><a href='<%=privurl%>#<%=i.to_s%>'>Unlock This Section!</a></h1></center>
                        </div>
                        <%
                        end
                        %>
                    </div>
                </section>
                <%
            } # each section
        end # if a.size > 0
        %>
    </div>

    <div class="span3 box sections">
            <h4>Sections</h4>
            <%
            i = 0
            s.sections.sort_by { |t| t.name.to_s }.select { |t| t.delete_time.nil? }.each { |section|
                i += 1
            %>
            <section class="row-fluid section">
                <div class="span12">
                    <a href='#<%=i%>' <%=(i==1) ? '' : 'class="disabled"'%>><i class='icon-chevron-right'></i> <%=section.name.to_s.encode_html%></a>
                </div>
            </section>
            <%
            }
            %>
    </div>

</section>
